input[type=text] {
  height: 2em;
  border: 1px solid #aaa;
  background-color: #333;
  border-radius: 3px;
  color: #fff;

  &:focus {
    border: 1px solid #fefefe;
    outline: none;
    background-color: #222;
  }

  &::selection {
    background: #fff;
    color: #000;
  }
}